//
//  STACK OVERFLOW CAREERS
//  Product UI Guide
//  Designed & managed by the Stack Exchange Creative Team
//
//  Created July 28, 2014
//  Created September 28, 2014
//
//  http://careers.stackoverflow.com
//  http://creative.stackexchange.com
//
//
//  NAV
//
//  TABLE OF CONTENTS
//  • VARIABLES
//  • BASELINE
//  • GENERAL LAYOUT PATTERNS
//  • SPECIFIC LAYOUT PATTERNS
//
//  ============================================================================
//  $ VARIABLES
//  ============================================================================
@nav-link-color:                     spin(desaturate(lighten(@color-grayMid,9%),7%),8);
@nav-link-bck:                       fade(@color-white,0%);
@nav-link_hover-color:               @color-orange;
@nav-link_hover-bck:                 desaturate(lighten(@color-grayMid,53%),6%);

@nav_global-link-color:                 spin(darken(@color-orange,6%),13);
@nav_global-link-bck:                   @nav-link-bck;
@nav_global-link_hover-color:           @color-orange;
@nav_global-link_hover-bck:             spin(lighten(@color-orange,41%),7);
@nav_global-link_disabled-color:        spin(desaturate(lighten(@color-orange,29%),82%),13);
@nav_global-link_disabled_hover-color:  darken(@nav_global-link_disabled-color,5%);

//  ----------------------------------------------------------------------------
//  $ BASELINE
//  Reset margins and paddings for the list
//  ----------------------------------------------------------------------------
.nav {
  ul&, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .-item, a { position: relative; }

  a, a:link {
    color: @nav-link-color;
    .fontSize(s);
    text-decoration: none;

    background-color: @nav-link-bck;
    transition: all 0.05s ease-in;

    &:hover {
      color: @nav-link_hover-color;
      text-decoration: none;

      background-color: @nav-link_hover-bck;
      transition: all 0.05s ease-out;
    }
  }

  &._nested a { .fontSize(xs); }

  //  Hide nested nav until needed
  .nav { display: none; }

  // Show the secondary nav when needed
  .is-open .nav { display: block; }
}

//  ----------------------------------------------------------------------------
//  $ GENERAL LAYOUT PATTERNS
//  ----------------------------------------------------------------------------
.nav {

  // -- Sidebar / Column Layout Style
  &._column {
    .-item, a { display: block; }

    a { padding: 5px 20px; }

    &._nested a {
      padding-right: 14px;
      padding-left: 36px;
    }
  }
  //  -- Single Row / Top Nav Layout Style
  &._row {
    .-item, a { display: inline-block; }

    a {
      padding: 10px 20px;
    }
  }
}

//  ----------------------------------------------------------------------------
//  $ SPECIFIC LAYOUT PATTERNS
//  ----------------------------------------------------------------------------
.nav._global { 
  .nav._row;

  margin-left: 2em;
  margin-top: 11px;

  a {
    color: @nav_global-link-color;
    .fontSize(base);
    .fontWeight(7);
    background-color: @nav_global-link-bck;

    &:hover, &:active {
      color: @nav_global-link_hover-color;
      background-color: @nav_global-link-bck;
    }

    &.is-disabled {
      color: @nav_global-link_disabled-color;
      background-color: transparent;

      cursor: not-allowed;

      &:hover, &:active {
        color: @nav_global-link_disabled_hover-color;
      }
    }
  }
}