//
//  STACK OVERFLOW CAREERS
//  Product UI Guide
//
//  Created September 17, 2014
//  Last Updated September 28, 2014
//
//  http://careers.stackoverflow.com/
//  http://careers.stackoverflow.com/UIKit
//
//
//  TABLE OF CONTENTS
//
//  $ 1  Imports
//  $ 2  Variables
//  $ 3  Layout
//  $ 4  Type
//  $ 5  Logo
//
//  ============================================================================
//  $1 IMPORT FILES
//  ----------------------------------------------------------------------------
@import "../lib/base";   //  Base UI Kit Styles
@import "code";               // Code Syntax highlighting
@import "syntaxhighlighter";  // Custom syntaxhighlighter theme
@import "nav";                // UI Library Navigation Styles


//  ============================================================================
//  $2 VARIABLES
//  ----------------------------------------------------------------------------
@body-background:             @color-white;


//  ============================================================================
//  $3 LAYOUTS
//  ----------------------------------------------------------------------------
//  -- Universal
html, body {
  .box-sizing(border-box);
  position: relative;
  min-height: 100%;
  width: 100%;

  color: @copy-color;
  .fontFamily(sans);
  font-size: ~"@{fontSize-base}px";
  .fontWeight(4);
  .letterSpacing(base);
  .lineHeight(base);
  text-align: left;
}
body {
  padding: 3em;
  background: @body-background;
}

//  -- Wrapper
.header-site, .container-page {
  .box-sizing(border-box);
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

//  -- Global Navigation & Logo Area
.page-header {
  margin-top: 1em;
  padding-bottom: 4em;

  .-logo {
    position: relative;
    display: block;
    max-width: 300px;
  }

  //  -- Logo adjustments based on media query sizes
  @media screen {
    @media (min-width: @mediaQuery-medium) { 
      .-logo {
        top: -7px;
        max-width: 100%;
      }
    }
    @media (min-width: @mediaQuery-large)  { 
      .-logo {
        top: -12px;
        max-width: 100%;
      }
    }
  }
}

//  -- Originally was just styling section and article tags. Really though
//     all I want to do is add bottom padding to sections. Trapping for all
//     section ids now.
[id*="section-"] {
  padding-bottom: @padding-double * 2;

  > article {
    margin-bottom: 3em;
    > p { margin-right: @padding-double * 3; }
  }
}

.content section {
  padding-right: 0.5em;
  display: block;
}

.container, .nav, .navbar, .navbar-collapse {
  &:before, &:after {
    display: table;
    content: " ";
  }
}

.nav-sidebar > .nav { padding-left: 20px; }
.affix {
  position: fixed;
}


//  ============================================================================
//  $4 TYPE
//  ----------------------------------------------------------------------------
//  -- Make <p>'s slightly larger for esaier reading.
p, ul, li {
  .fontRem(15);
  .lineHeight(looser);
}

//  $ Type Example
//  Used to showcase items like type and colors
.typeExample {
  padding: 2em;

  border-radius: @borderRadius-base;
  background-color: lighten(@color-grayLight,6%);
  border: 1px solid @borderColor-grayLight;

  ._example {
    .-weights {
      .fontRem(32);
      .lineHeight(looser);
      color: @title-color;
    }

    &:first-of-type { border-top-color: transparent;}

    ._light { .fontWeight(2); }

    > ul, > ol { margin-top: 1em; }
  }

  ._label {
    display: inline-block;
    padding: 8px 0;

    color: @copy_help-color;
    .fontFamily(code);
    .fontSize(xs);
    .fontWeight(4);
    letter-spacing: 0;
    //text-transform: uppercase;
  }

  h1, h2, h3, h4, h5, h6,
  ._h1, ._h2, ._h3, ._h4, ._h5, ._h6,
  p, ._text { 
    margin-bottom: 0;
    margin-top: @margin-base + 6;
  }
  blockquote, ._quote {
    margin-top: @margin-base + 16;
    &._pull { background-color: @color-white; }
  }

  &._rows dl {
    margin-top: 1em;
    dt { .fontWeight(7); }
    dd {
      display: inline-block;
      margin-left: 25%;
      padding: 0;

      border: none;
    }

    p { margin: 0 0 0.5em; }
  }
}

//  -- Color Example
//  Create some little color swatches
.colorExample {
  margin: 0;
  overflow: hidden;
  text-align: center;

  .color {
    position: relative;
    float: left;
    list-style-type: none;
    margin: 0 0.5em 0.75em 0;
    
    box-shadow: 0 0 4px fade(@color-grayMid,20%);
    border-width: 1px;
    border-style: solid;
    border-radius: @borderRadius-base;

    p {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      //width: 90%;
      margin: 0 auto;
      padding: 1em 0;

      color: @copy_help-color;
      .fontSize(xs);

      background-color: @color-white;
      border-bottom-right-radius: @borderRadius-base - 1;
      border-bottom-left-radius: @borderRadius-base - 1;
    }

    //  -- Card Sizes
    width: 15%; 
    height: 12em;

    //  -- For larger cards
    &._big {
      width: 49%;

      @media screen and (min-width: @mediaQuery-small) { width: 18%; }
    }

    // -- Colors
    &._orange {
      background-color: @color-orange;
      border-color: darken(@color-orange,10%);
    }
    &._blue {
      background-color: @color-blue;
      border-color: darken(@color-blue,10%);
    }
    &._green {
      background-color: @color-green;
      border-color: darken(@color-green,10%);
    }
    &._yellow {
      background-color: @color-yellow;
      border-color: darken(@color-yellow,10%);
    }
    &._red {
      background-color: @color-red;
      border-color: darken(@color-red,10%);
    }
    &._black {
      background-color: @color-black;
      border-color: @color-grayDark;
    }
    &._grayLight {
      background-color: @color-grayLight;
      border-color: darken(@color-grayLight,10%);
    }
    &._grayMid {
      background-color: @color-grayMid;
      border-color: darken(@color-grayMid,10%);
    }
    &._grayDark {
      background-color: @color-grayDark;
      border-color: darken(@color-grayDark,10%);
    }

  }

  li.color:nth-of-type(even) { 
    margin-right: 0;
    @media screen and (min-width: @mediaQuery-small) { margin-right: 0.5em; }
  }
}




//  ============================================================================
//  $5 LOGO
//  ----------------------------------------------------------------------------
.logo-soc { max-width: 100%; }
