
@{
    ViewBag.Title = "Components";
    Layout = MVC.UIKit.Views._Layout;
}

<section id="section-ads">
    <h2 class="title-section">Featured Company Ads</h2>
    <article class="pull-left">
        <div class="featured-cp-ad featured-cp-ad-tags">
            <header class="ad-header">
                <div class="cp-photo" style="background-image: url('http://i.stack.imgur.com/ifURQ.jpg')"></div>
                <div class="cp-logo">
                    <a href="#"><img src="http://i.stack.imgur.com/J5SYD.png" alt="West Monroe Partners" /></a>
                </div>
                <div class="cp-info">
                    <h1><a href="#">West Monroe Partners</a></h1>
                    <p class="text-muted text-small">Chicago, Los&nbsp;Angeles, Minneapolis, New&nbsp;York&nbsp;City, Seattle</p>
                </div>
            </header>
            <article class="ad-content cp-tags">
                <h2>Skills we're looking for:</h2>
                <ul class="list-tags">
                    <li class="list-item"><a href="#" class="tag-item">c#</a></li>
                    <li class="list-item"><a href="#" class="tag-item">javascript</a></li>
                    <li class="list-item"><a href="#" class="tag-item">node.js</a></li>
                    <li class="list-item"><a href="#" class="tag-item">backbone.js</a></li>
                    <li class="list-item"><a href="#" class="tag-item">coffeescript</a></li>
                    <li class="list-item"><a href="#" class="tag-item">linux</a></li>
                    <li class="list-item"><a href="#" class="tag-item">sysadmin</a></li>
                </ul>
            </article>
            <footer class="ad-footer">
                <a href="#">2 jobs available. <span class="text-white">Apply now!</span></a>
            </footer>
        </div>
    </article>
    <article class="pull-left">
        <div class="featured-cp-ad featured-cp-ad-benefits">
            <header class="ad-header">
                <div class="cp-photo" style="background-image: url('http://i.stack.imgur.com/J1uRe.jpg')"></div>
                <div class="cp-logo">
                    <a href="#"><img src="http://i.stack.imgur.com/fSmx1.png" alt="Fog Creek Software" /></a>
                </div>
                <div class="cp-info">
                    <h1><a href="#">Fog Creek Software</a></h1>
                    <p class="text-muted text-small">New&nbsp;York&nbsp;City, Anywhere</p>
                </div>
            </header>
            <article class="ad-content cp-benefits">
                <h2>Benefits</h2>
                <ul class="list-benefits">
                    <li class="list-item">20+ Vacation Days</li>
                    <li class="list-item">100% Covered Health Insurance</li>
                    <li class="list-item">Conference Budgets</li>
                    <li class="list-item">& <a href="#">much, more more!</a></li>
                </ul>
            </article>
            <footer class="ad-footer">
                <a href="#">2 jobs available. <span class="text-white">Apply now!</span></a>
            </footer>
        </div>
    </article>
    <article class="pull-left">
        <div class="featured-cp-ad featured-cp-ad-jobs">
            <header class="ad-header">
                <div class="cp-photo" style="background-image: url('http://i.stack.imgur.com/s8HLP.jpg')"></div>
                <div class="cp-logo">
                    <a href="#"><img src="http://i.stack.imgur.com/zof5i.png" alt="Zynga" /></a>
                </div>
                <div class="cp-info">
                    <h1><a href="#">Zynga</a></h1>
                    <p class="text-muted text-small">San&nbsp;Francisco</p>
                </div>
            </header>
            <article class="ad-content cp-jobs cp-jobs-featured">
                <ul class="list-jobs">
                    <li class="list-item">
                        <h3><a href="#">Software Engineer</a></h3>
                        <p class="text-muted text-small">San Francisco, CA</p>
                        <ul class="list-tags">
                            <li class="list-item"><a href="#" class="tag-item">c</a></li>
                            <li class="list-item"><a href="#" class="tag-item">c++</a></li>
                            <li class="list-item"><a href="#" class="tag-item">java</a></li>
                            <li class="list-item"><a href="#" class="tag-item">python</a></li>
                            <li class="list-item"><a href="#" class="tag-item">ajax</a></li>
                        </ul>
                    </li>
                </ul>
            </article>
            <footer class="ad-footer">
                <a href="#"><span class="text-white">Apply now!</span></a>
            </footer>
        </div>
    </article>
    <article class="pull-left">
        <div class="featured-cp-ad featured-cp-ad-jobs">
            <header class="ad-header">
                <div class="cp-photo" style="background-image: url('http://i.stack.imgur.com/Upiiq.jpg')"></div>
                <div class="cp-logo">
                    <a href="#"><img src="http://i.stack.imgur.com/DCP6v.png" alt="Amazon (US)" /></a>
                </div>
                <div class="cp-info">
                    <h1><a href="#">Amazon (US)</a></h1>
                    <p class="text-muted text-small">Cambridge, New&nbsp;York&nbsp;City, Orange&nbsp;County, San&nbsp;Francisco&nbsp;Bay&nbsp;Area, Seattle</p>
                </div>
            </header>
            <article class="ad-content cp-jobs">
                <ul class="list-jobs">
                    <li class="list-item">
                        <h3><a href="#">Software Development Engineer</a></h3>
                        <p class="text-muted text-small">Detroit, MI</p>
                        <ul class="list-tags">
                            <li class="list-item"><a href="#" class="tag-item">c</a></li>
                            <li class="list-item"><a href="#" class="tag-item">c++</a></li>
                            <li class="list-item"><a href="#" class="tag-item">java</a></li>
                            <li class="list-item"><a href="#" class="tag-item">python</a></li>
                            <li class="list-item"><a href="#" class="tag-item">ajax</a></li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <h3><a href="#">Software Development Engineer, AmazonFresh</a></h3>
                        <p class="text-muted text-small">Irvine, CA</p>
                        <ul class="list-tags">
                            <li class="list-item"><a href="#" class="tag-item">c</a></li>
                            <li class="list-item"><a href="#" class="tag-item">c++</a></li>
                            <li class="list-item"><a href="#" class="tag-item">java</a></li>
                            <li class="list-item"><a href="#" class="tag-item">python</a></li>
                            <li class="list-item"><a href="#" class="tag-item">ajax</a></li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <h3><a href="#">Senior Software Development Engineer, AmazonFresh</a></h3>
                        <p class="text-muted text-small">Irvine, CA</p>
                        <ul class="list-tags">
                            <li class="list-item"><a href="#" class="tag-item">c</a></li>
                            <li class="list-item"><a href="#" class="tag-item">c++</a></li>
                            <li class="list-item"><a href="#" class="tag-item">java</a></li>
                            <li class="list-item"><a href="#" class="tag-item">python</a></li>
                            <li class="list-item"><a href="#" class="tag-item">ajax</a></li>
                        </ul>
                    </li>
                </ul>
            </article>
            <footer class="ad-footer">
                <a href="#">142 jobs available. <span class="text-white">Apply now!</span></a>
            </footer>
        </div>
    </article>
</section>